<a href="https://colab.research.google.com/github/sammywenthikingwithshroomtrolls/Python_for_Data_Analysis/blob/main/For%2C_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
job_skills = ('python', 'sql', 'statistics', 'tableau')

In [ ]:
numbers=[0,1,2,3,4,5,6,7]
for number in numbers:
  print(number)

0
1
2
3
4
5
6
7

In [ ]:
characters='PYTHON'
for character in characters:
  print(character)

P
Y
T
H
O
N

In [ ]:
characters='PYTHON'
for _ in characters:
  print(_)

P
Y
T
H
O
N

In [ ]:
years_experience = {
    "Alice": 5,
    "Bob": 3,
    "Charlie": 8,
    "Diana": 2,
    "Ethan": 6,
    "Fiona": 4,
    "George": 10,
    "Hannah": 1,
    "Ian": 7,
    "Julia": 9
}

In [ ]:
import random

names = [
    "Alice", "Bob", "Charlie", "Diana", "Ethan",
    "Fiona", "George", "Hannah", "Ian", "Jasmine",
    "Kevin", "Laura", "Mike", "Nina", "Oscar",
    "Paula", "Quentin", "Rachel", "Steve", "Tina",
    "Uma", "Victor", "Wendy", "Xander", "Yara"
]

years_experience = {name: random.randint(1, 20) for name in names}

print(years_experience)

{'Alice': 4, 'Bob': 19, 'Charlie': 12, 'Diana': 1, 'Ethan': 6, 'Fiona': 16, 'George': 10, 'Hannah': 2, 'Ian': 3, 'Jasmine': 14, 'Kevin': 9, 'Laura': 4, 'Mike': 14, 'Nina': 17, 'Oscar': 7, 'Paula': 1, 'Quentin': 12, 'Rachel': 13, 'Steve': 11, 'Tina': 15, 'Uma': 10, 'Victor': 2, 'Wendy': 6, 'Xander': 10, 'Yara': 14}


This is a dictionary comprehension in Python. It creates a dictionary where:

name is each item from the names list (iterated using for name in names)

random.randint(1, 20) generates a random integer between 1 and 20 for each name

{name: random.randint(1, 20) ...} creates key-value pairs like 'Alice': 7

So, it builds a dictionary mapping each name to a random number of years of experience.

In [ ]:
for person in years_experience:
    print(person)

Alice
Bob
Charlie
Diana
Ethan
Fiona
George
Hannah
Ian
Jasmine
Kevin
Laura
Mike
Nina
Oscar
Paula
Quentin
Rachel
Steve
Tina
Uma
Victor
Wendy
Xander
Yara

Add 4 space after 'for'

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
for value in years_experience.values():
    print(value)

4
19
12
1
6
16
10
2
3
14
9
4
14
17
7
1
12
13
11
15
10
2
6
10
14

In [ ]:
for key,value in years_experience.items():
    print(key,value)

Alice 4
Bob 19
Charlie 12
Diana 1
Ethan 6
Fiona 16
George 10
Hannah 2
Ian 3
Jasmine 14
Kevin 9
Laura 4
Mike 14
Nina 17
Oscar 7
Paula 1
Quentin 12
Rachel 13
Steve 11
Tina 15
Uma 10
Victor 2
Wendy 6
Xander 10
Yara 14

key,value- is a Tupple like object,

In [ ]:
for key,value in years_experience.items():
  if value>5:
    print(key,'has',value, 'years_experience')

Bob has 19 years_experience
Charlie has 12 years_experience
Ethan has 6 years_experience
Fiona has 16 years_experience
George has 10 years_experience
Jasmine has 14 years_experience
Kevin has 9 years_experience
Mike has 14 years_experience
Nina has 17 years_experience
Oscar has 7 years_experience
Quentin has 12 years_experience
Rachel has 13 years_experience
Steve has 11 years_experience
Tina has 15 years_experience
Uma has 10 years_experience
Wendy has 6 years_experience
Xander has 10 years_experience
Yara has 14 years_experience

In [ ]:
range(0,5)

range(0, 5)

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
for _ in range(100):
    print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [30]:
count=1
while count<5:
  print(count)
  count+=1

1
2
3
4

In [31]:
years=0
years_list=list(years_experience)
#while years<5:

In [32]:
years_list

['Alice',
 'Bob',
 'Charlie',
 'Diana',
 'Ethan',
 'Fiona',
 'George',
 'Hannah',
 'Ian',
 'Jasmine',
 'Kevin',
 'Laura',
 'Mike',
 'Nina',
 'Oscar',
 'Paula',
 'Quentin',
 'Rachel',
 'Steve',
 'Tina',
 'Uma',
 'Victor',
 'Wendy',
 'Xander',
 'Yara']

In [34]:
years_list[23]

'Xander'

In [39]:
years=0
index=0
years_list=list(years_experience.items())
while years<5:
  key, years=years_list[index]
  print(key,years)
  index+=1

Alice 4
Bob 19

without an if inside the loop, the code printed the second value (Bob, 19) because the loop check (while years < 5) happened before updating years to Bob’s value.
Bob is the second value in the list here.

In [43]:
years=0
index=0
years_list=list(years_experience.items())
while years<5:
  key, years=years_list[index]
  if years>5:
      print(key,years)
  index+=1

Bob 19

In [44]:
index = 0
years_list = list(years_experience.items())

while index < len(years_list):
    key, years = years_list[index]
    if years < 5:
        print(key, years)
    index += 1

Alice 4
Diana 1
Hannah 2
Ian 3
Laura 4
Paula 1
Victor 2

What it does:
Loops through every item in the list using index < len(years_list)

Checks if each years < 5

Prints all such matches

Always increments index, no matter what

✅ This version is safe and gives all names with < 5 years.

In [48]:
years=0
index=0
years_list=list(years_experience.items())
while years<5:
  key, years=years_list[index]
  if years<5:
      print(key,years)
  index+=1

Alice 4

🔁 What this does:
years = 0 initially → ✅ years < 5, so enters loop

First person: 'Alice', 4 → print(Alice, 4)

Then index += 1

Next person: 'Bob', 19 → now years = 19

❌ Now the loop condition fails:
while years < 5: becomes while 19 < 5 → ❌ False

Loop exits immediately after Alice

So you only get the first person with years < 5, and then it exits as soon as years >= 5