<a href="https://colab.research.google.com/github/sammywenthikingwithshroomtrolls/Python_for_Data_Analysis/blob/main/Sets_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

Being able to efficiently extract unique value, let be list or tuple

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

there are more container data types

## Notes

* For unique items
* Used to store multiple items in a single variable
* It is:
  * unorderd
  * Unchangeable
  * Unindexed
* Set *items* are unchangeable but you can still remove items and add new items

## Importance

Employed for removing duplicates and for set operations, aiding in data cleaning and preparation.

## Examples

First let's create a set of data science skills.

In [1]:
# Define a set of data science skills
job_skills = {'tableau', 'sql', 'python', 'statistics'}

job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [3]:
job_skills[1]

TypeError: 'set' object is not subscriptable

In [4]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Unordered and No Index

Sets are unorderd and have no index so don't behave completely like lists.

Therefore, we can't use an index to access items.

### Add()

Add an item using `add()`. Now we're going to add a skill to the list, 'looker'.

In [2]:
# Adding a skill
job_skills.add('looker')

job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

What if we add a skill that's already in the list like `sql`? It won't duplicate so the skill won't be added. The set is the exact same as before.

In [5]:
job_skills.add('sql')

job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

### Remove()

Remove an item in the set using `remove()`. Let's remove the 'statistics' item from this set.

ðŸª² **Debugging**

**This is an intentional mistake**

This is used to demonstrate debugging.

Error: Tried to remove a skill that does not exist in this set.

```python
job_skills.remove('r')
```

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
  1. Use a chatbot like ChatGPT or Claude
  2. Look it up using Google

In [6]:
# Removing a skill
job_skills.remove('r')

job_skills

KeyError: 'r'

In [7]:
# Removing a skill
job_skills.remove('statistics')

job_skills

{'looker', 'python', 'sql', 'tableau'}

In [9]:
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

In [10]:
set(skill_list)

{'python', 'sql', 'statistics', 'tableau'}

# Tuples

more applicable in SE. Tuples are for fixed data. if we wanted to have a unique set of items that we don't want to alter, we can use a tuple.

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

## Notes

* Used to store multiple items in a single variable
* It is:
  * Ordered
  * Unchangeable
* Written with `(` and `)`

## Importance

* Speed up operations because it's immutable
* Immutable sequences, often used for fixed data, like column names or coordinates in Matplotlib plots

## Examples

We're going to create a tuple of data science skills.

In [11]:
# Define a tuple of data science skills
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills

('python', 'sql', 'statistics', 'tableau')

we don't want this value to change, that's why it's in tuple

### Get item

Getting an element from a tuple using indexing. To get the first item from a tuple we'll get it at the index of `0`.

In [13]:
samiras_skill=('python', 'sql', 'statistics', 'tableau')

samiras_skill

('python', 'sql', 'statistics', 'tableau')

In [20]:
print(id(samiras_skill))

138320265761152

In [14]:
samiras_skill[0:2]

('python', 'sql')

In [ ]:
# Accessing an element
job_skills[0]

'python'

In [15]:
samiras_skill.append('r')

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

### Add Items

Since tuples are immutable (not changeable), they don't have a built-in `append()` method. But there are two methods:

In [ ]:
job_skills.append('excel')

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
new_skills=('excel','power bi')
samiras_skill+new_skills

('python',
 'sql',
 'statistics',
 'tableau',
 'excel',
 'power bi',
 'excel',
 'power bi')

In [27]:
print(id(samiras_skill))

138320265949440

In [26]:
samiras_skill=('python', 'sql', 'statistics', 'tableau')
print(id(samiras_skill))
new_skills=('excel','power bi')

samiras_skill+=new_skills

samiras_skill
id(samiras_skill)

138320265621520

138320265949440

In [28]:
id(samiras_skill)

138320265949440

In [30]:
#if we do the same thing in list

samiras_skill=['python', 'sql', 'statistics', 'tableau']
print(id(samiras_skill))
new_skills=['excel','power bi']

samiras_skill+=new_skills

samiras_skill
id(samiras_skill)

138320264761856

138320264761856

notice that ids are the samne in case of list

**Method 1: Turn tuple into a list.**

* First turn it into a list
* Then use the `append()` method
* Convert the list to a tuple

In [ ]:
# Turn tuple into a list
job_skills_list = list(job_skills)

# Add skill to the list
job_skills_list.append('excel')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_list)

job_skills_tuple

('python', 'sql', 'statistics', 'tableau', 'excel')

ðŸª² **Debugging**

**This is an intentional mistake**

This is used to demonstrate debugging.

This won't run an error but it's not returning what we intended. Remember to double check which variable you are returning.

Mistake: We are accidentally returning `job_skills_new_tuple` instead of the original tuple `job_skills`

```python
job_skills.remove('r')
```

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
  1. Use a chatbot like ChatGPT or Claude
  2. Look it up using Google

In [ ]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills_new_tuple

('r', 'postgresql')

Note: To fix this just call the correct variable `job_skills`.

In [ ]:
job_skills

('python', 'sql', 'statistics', 'tableau', 'r', 'postgresql')

If you rerun the entire cell (below) with the correct variable called at the end you will accidentally add a tuple to your tuple, and create duplicates. This is because you are adding the tuple to it again with these lines:

```python
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple
```

In [ ]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills

('python',
 'sql',
 'statistics',
 'tableau',
 'r',
 'postgresql',
 'r',
 'postgresql')

### Join()

We already went over this for lists but remember the `.join` method is used for concatenating a sequence of strings together with a specified separator. You need to add a specific separator (e.g. `', '`) between each element during the concatenation process.

For tuples specifically we are combining multiple strings from a tuple.

In [ ]:
skills = ('Python', 'SQL', 'Excel')

In [ ]:
# f-string formatting
print(f'I have these skills: {", ".join(skills)}')

I have these skills: Python, SQL, Excel

### Remove Items

Since tuples are **unchangeable** you can't remove items for it. But you can use a similar workaround that we used for changing and adding tuple items.

In [ ]:
skills.remove('Excel')

AttributeError: 'tuple' object has no attribute 'remove'

#### Remove()

Convert the tuple into a list, remove the item using `remove()` method, and convert it back to a tuple.

In [ ]:
# Turn tuple into a list
job_skills_remove = list(job_skills)

# Remove skill from the list
job_skills_remove.remove('tableau')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_remove)

job_skills_tuple

('python', 'sql', 'statistics', 'r', 'postgresql', 'r', 'postgresql')

#### Del

Or you can use the `del` keyword to delete the tuple completely. If we try to show the job_skills are we delete it, it will return an error.

In [ ]:
del job_skills
job_skills

NameError: name 'job_skills' is not defined

## range()

Now these 4 container data types we covered over the past few notebooks are not the only container data types.

The `range()` function generates a sequence of numbers. It is commonly used for looping a specific number of times in for loops.

In [31]:
range(5)

range(0, 5)

In [32]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [33]:
tuple(range(2,5))

(2, 3, 4)

Note: `range()` isn't a tuple, it's its own datatype; but it's dang close and short, so we'll cover it here.

In [ ]:
type(range(5))

range

But let's actually see inside of this object by converting it to a tuple.

Syntax: The `range()` function can be called with one, two, or three arguments:  
* `range(stop)`: Generates numbers from 0 to stop-1 (read: stop minus 1)
* `range(start, stop)`: Generates numbers from start to stop-1
* `range(start, stop, step)`: Generates numbers from start to stop-1

In [ ]:
list(range(2,5))

[2, 3, 4]

In [ ]:
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]